footer{
    height: 150px;
    background-color: rgb(28, 29, 31);
}
.content{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
.content h1{
    margin-right: 1000px;
    font-family: sans-serif;
    font-size: 30px;
}
.item5{
    margin-left: 20px;
    /* border: 1px solid yellow; */
}
.item5:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.em h1{
    color: rgb(255, 255, 255);
}
.em h1:hover{
    color: rgb(0, 234, 255);
     transform: translateX(20px);
     transition: 0.5s;
}