body {
  background: linear-gradient(to bottom, #314a80, #061431, #010a1b, #00030a);
}

.container_1 {
  /* background-image: url(person-working-html-computer.jpg); */
   background:
        linear-gradient(
            rgba(15, 29, 68, 0.6),
            rgba(15, 29, 68, 0.6)
        ),
        url(person-working-html-computer.jpg);
  border-bottom: 3px solid rgb(174, 147, 247);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 806px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/* Smooth scroll for navigation links */
html {
  scroll-behavior: smooth;
}

/* Apply same height to every section */
section {
  height: 100vh;
  /* Same full screen height */
  box-sizing: border-box;
  padding-top: 50px;
  /* Keeps heading visible under navbar */
  scroll-margin-top: 100px;
  /* Adjust scroll so heading is not hidden */
  display: flex;
  /* Optional: center content */
  flex-direction: column;
}

.section1 {
  height: 89vh;
}

/* Optional (recommended): make the page look cleaner */

p {
  font-size: 16px;
  /* readable base size */
  line-height: 1.5;
  /* professional spacing */
  color: #fdfdfd;
  /* soft gray (dark bg friendly) */
  font-family: "Inter", "Segoe UI", Roboto, sans-serif;
  margin: 0 0 1rem 0;
  letter-spacing: 0.4px;
  text-align: center;
}

.div_2 {
  font-family: sans-serif;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(247, 244, 244);
}

.div_1 img {
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(184, 237, 247);
}

.div_3 {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid rgb(253, 3, 3);
  /* blinking cursor */
  animation: typing 5s ease-in-out 2s infinite, blink-caret 0.7s step-end infinite;
}

@keyframes blink-caret {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #01fafa;
  }
}

/* typing + deleting */
@keyframes typing {
  0% {
    width: 0;
  }

  50% {
    width: 52ch;
  }

  /* type full text */
  60% {
    width: 52ch;
  }

  /* pause */
  100% {
    width: 0;
  }

  /* d
  elete */
}

.div_4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_4 div {
  margin-left: 10px;
  margin-right: 10px;
}

.div_4 div button {
  border: none;
  border-radius: 30px;
  background-color: rgb(182, 240, 250);
  color: black;
}

.div_4 button:hover {
  background-color: #00030a;
  color: white;
  transition: 0.5s;
}

.hnow {
  display: flex;
}