.container4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item4{
    border: 1px solid rgb(0, 234, 255);
    border-radius: 10px;
    height: 460px;
    width: 400px;
    margin: 20px;
    background-color: rgb(0, 4, 11);
    margin-top: 50px;
}
.item4:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgb(0, 238, 255);
    transition: 0.5s;
}
.it svg:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.item4 div a svg{
    margin-left: 320px;
}

.section3 h2{
    color: rgb(0, 242, 255);
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.it{
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
    height: 150px;
    border-radius: 20px;
    color: white;
    background-color:  rgb(12, 1, 27);
    border: 1px solid rgb(0, 238, 255);
}
.it a svg{
    margin-left: 935px;
    margin-top: 5px;
}
.item4 div h3{
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section3{
    border-bottom: 5px solid rgb(39, 52, 77);
}