@media (max-width: 375px) {
    .hed {
        background-color: rgb(0, 0, 0);
        width: 100%;
    }

    .ana h1 {
        font-size: 25px;
        margin-right: 5px;
        margin-left: 15px;
    }

    .ana {
        margin-left: 0;
        margin-right: 0;
    }

    .a {
        justify-content: flex-start;
    }

    .div1 {
        display: none;
    }

    .div_1 img {
        height: 150px;
        width: 150px;
        border-radius: 30px;
        margin-top: 40px;
    }

    .container_1 {
        background:
            linear-gradient(rgba(15, 29, 68, 0.6),
                rgba(15, 29, 68, 0.6)),
            url(person-working-html-computer.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 667px;
        width: 100%;
    }

    .div_2 h1 {
        font-size: 25px;
    }

    .div_3 h2 {
        font-size: 17px;
    }

    @keyframes typing {
        0% {
            width: 0;
        }

        50% {
            width: 36ch;
        }

        /* type full text */
        60% {
            width: 36ch;
        }

        /* pause */
        100% {
            width: 0;
        }
    }

    .div_4 div button {
        border: none;
        border-radius: 10px;
        background-color: rgb(182, 240, 250);
        color: black;
        height: 40px;
        width: 140px;
    }

    section {
        height: 470px;
    }

    .dn {
        height: 400px;
        width: 300px;
    }

    .dn p {
        font-size: 15px;
    }

    .section2 {
        margin-top: 0px;
        height: 2050px;
    }

    .section1 {
        height: 1440px;
    }

    .container2 {
        flex-direction: column;
    }

    .items {
        width: 300px;
    }

    .item2 {
        width: 300px;
    }

    .section3 {
        height: 1780px;
    }

    .container4 {
        flex-direction: column;
    }

    .item4 {
        width: 300px;
    }

    .item4 img {
        width: 298px;
    }

    .container3 {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .it {
        display: none;
    }

    .section0 {
        height: 667px;
    }

    .section4 {
        height: 900px;
    }

    .contact-container {
        width: 300px;
    }

    .contact-container input,
    .contact-container textarea {
        width: 80%;
        margin-left: 20px;

    }

    textarea {
        height: 150px;
    }

    footer {
        height: auto;
    }

    .em {
        display: none;
    }

}

/* responsive for 768px */
@media (max-width: 768px) {
    .hed {
        background-color: rgb(0, 0, 0);
        width: 100%;
    }

    .ana h1 {
        font-size: 25px;
        margin-right: 5px;
        margin-left: 15px;
    }

    .ana {
        margin-left: 0;
        margin-right: 0;
    }

    .a {
        justify-content: flex-start;
    }

    .divv {
        display: flex;
        margin-left: 100px;
    }

    .div_1 img {
        height: 150px;
        width: 150px;
        border-radius: 30px;
        margin-top: 40px;
    }

    .container_1 {
        background:
            linear-gradient(rgba(15, 29, 68, 0.6),
                rgba(15, 29, 68, 0.6)),
            url(person-working-html-computer.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 667px;
        width: 100%;
    }

    .div_2 h1 {
        font-size: 25px;
    }

    .div_3 h2 {
        font-size: 17px;
    }

    @keyframes typing {
        0% {
            width: 0;
        }

        50% {
            width: 36ch;
        }

        /* type full text */
        60% {
            width: 36ch;
        }

        /* pause */
        100% {
            width: 0;
        }
    }

    .div_4 div button {
        border: none;
        border-radius: 10px;
        background-color: rgb(182, 240, 250);
        color: black;
        height: 40px;
        width: 140px;
    }

    section {
        height: 470px;
    }

    .dn {
        height: 400px;
        width: 300px;
    }

    .dn p {
        font-size: 15px;
    }

    .section2 {
        margin-top: 0px;
        height: 2050px;
    }

    .section1 {
        height: 1440px;
    }

    .container2 {
        flex-direction: column;
    }

    .items {
        width: 300px;
    }

    .item2 {
        width: 300px;
    }

    .section3 {
        height: 1780px;
    }

    .container4 {
        flex-direction: column;
    }

    .item4 {
        width: 300px;
    }

    .item4 img {
        width: 298px;
    }

    .container3 {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .it {
        display: none;
    }

    .section0 {
        height: 667px;
    }

    .section4 {
        height: 900px;
    }

    .contact-container {
        width: 300px;
    }

    .contact-container input,
    .contact-container textarea {
        width: 80%;
        margin-left: 20px;

    }

    textarea {
        height: 150px;
    }

    footer {
        height: auto;
    }

    .em {
        display: none;
    }

}