.d1 h3{
    color: yellow;
    font-family: sans-serif;
   font-size: 50px;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 40px;
}
.container3{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.item2 {
    border: 1px solid yellow;
     width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(6, 0, 17);
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.item2:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 10px yellow;
    transition: 0.5s;
}
p{
    text-align: justify;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: sans-serif;
}
h3{
    font-size: 30px;
    color: yellow;
    font-family: MV Boli;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
